/**
 * Main footer
 *
 */

.main-footer {
    background-color: $primary;
    height: 80px;

    .container {
        height: 100%;
    }

    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 10px 0;

        .main-footer__site {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            line-height: 1.6;

            span {
                font-family: $font-family-sans-serif-secondary;
                font-size: 0.7rem;
                color: $secondary;

                &:first-child {
                    font-weight: $font-weight-bold;
                }

                &:last-child {
                    font-weight: $font-weight-normal;
                }
            }
        }

        .main-footer__copyright {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            span {
                font-family: $font-family-sans-serif-secondary;
                font-size: 0.5rem;
                color: $secondary;
                font-weight: $font-weight-normal;
            }
        }

        .main-footer__contact {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;

            span {
                a {
                    font-family: $font-family-sans-serif-secondary;
                    font-size: 0.7rem;
                    color: $secondary;
                    font-weight: $font-weight-normal;
                    text-decoration: none;

                    &:hover {
                        color: $tertiary;
                    }
                }

                i {
                    position: relative;
                    top: 2px;
                    color: $secondary;
                    font-size: 0.9rem;
                    margin-right: 5px;
                }
            }
        }
    }
}