/**
 * Elevation utility
 *
 */

.elevated {
    box-shadow: 0 0 10px rgba($black, 0.1) !important;
}

// Elevation depths

.elevated-dp0 {
    box-shadow: none !important;
}

.elevated-dp1 {
    box-shadow: 0 1px 5px rgba($black, 0.1) !important;
}

.elevated-dp2 {
    box-shadow: 0 2px 7px rgba($black, 0.15) !important;
}

.elevated-dp3 {
    box-shadow: 0 3px 10px rgba($black, 0.2) !important;
}

.elevated-dp4 {
    box-shadow: 0 5px 14px rgba($black, 0.25) !important;
}

.elevated-dp5 {
    box-shadow: 0 8px 19px rgba($black, 0.3) !important;
}
